*{
    margin: 0%;
    padding: 0%;
    list-style: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.main{
    width: 100%;
    margin: 0px auto;
   
}
.header{
    width: 100%;
    box-shadow: 0px 2px 10px 2px #ccc ;
    margin-bottom: 50px;
    top: 0%;
    position: sticky;
    z-index: 1;
    
  
   
}
.header_inner{
    width: 98%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding-left: 20px;
    position: relative;
   
   
}
.header_inner> .leftside{
    width: 47%;
   
    list-style: none;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;

}
.header_inner .leftside .logo{
    width: 15%;
}
.header_inner .leftside .logo img{
    width: 100%;
    margin: 4px 0px;
}
.header_inner .leftside .menu{
    width: 85% ;
   
}
.header_inner> .leftside> .menu> ul{
    display: flex;
    list-style: none;
} 
.header_inner .leftside .menu ul li{
    margin: 0px 10px;
    font-size: 14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
}

.header_inner> .rightside{
    width: 50%;
   
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.header_inner> .rightside> .search{
    background: #F5F5F6;
    width: 53%;
    align-items: center;
    height: 30px;
    padding-bottom: 10px;
    padding-left: 5px;
}
.header_inner> .rightside> .search> input{
    width: 75%;
    background-color: transparent;
    border: none;
    outline: none;
    height: 40px;
    align-items: center;
   padding-bottom: 5px;
}
.header_inner .rightside .fonticon{
    display: flex;
    width: 39%;
}
.header_inner .rightside .fonticon .iconbox{
    width: 28%;
    text-align: center;
}
.header_inner .rightside .fonticon .iconbox p{
    font-size: 14px;
}
.background{
    position: absolute;
    width: 1419px;
    height: 100vh;
    left: -6%;
    top: 99%;
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}
.menu>ul>li:hover .background{
    opacity: 1;
    visibility: visible;

}
.megamenu{
    position: absolute;
    width: 1000px;
    /* height: 500px; */
    background-color: white;
    top: 0%;
    left: 10%;
    display: flex;
    color: gray;
    font-weight: normal;
}
.megamenu .menubox{
    width: 20%;
  
    padding: 20px;
  
}
.megamenu .menubox ul{
    margin-top: 10px;
   
}
.megamenu .menubox .menubox01{
    margin-top: 20px;
}
.megamenu .menubox .menubox01 h3{
    font-size: 14px;
}
.megamenu .menubox ul li:hover{
    color: black;
}



.sidefixbtn{
    position: absolute;
    width: 35px;
    height: 180px;
    background-color: #535766;
    top: 54%;
    right: 0%;
    position: fixed;
} 


/* header end */
.banner{
    width: 100%;
    margin: auto
}
.banner img{
    width:100% ;
    margin-top: 35px;
}
.coupan{
    width: 100%;
    margin: auto
}
.coupan img{
    width:100% ;
    margin-top: 10px;
}
.coupan2{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: auto
}
.coupan2 img{
    width:100vh;
    margin-top: 10px;
    padding-left: 23px;
    padding-right: 5px;
}
.offersimg{
    width: 100%;
    margin: auto;
    display: flex;
    /* flex-wrap: wrap; */
    /* justify-content: space-evenly; */
}
.offersimg img{
    width: 100%;
    margin: auto;
}
.scrollphoto1{
    width: 100%;
    transition: transform 0.2s ease-in-out;
}
.scrollphoto1 img:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
.catagory{
    width: 100%;
    margin: auto;

}
.catagory img{
    width: 100%;
}
.catagory img {
    transition: transform 0.2s ease-in-out;
  }
  
  .catagory img:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

.imgbar{
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.imgbar img{
    width: 15%;
    margin: 10px 0px
    
}
.imgbar img {
    transition: transform 0.2s ease-in-out;
  }
  
  .imgbar img:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

.lastbanner{
    width: 100%;
    margin: auto;

}
.lastbanner img{
    width: 100%;
    margin-top: 20px;
}
.footer{
    width: 1289px;
   
    background-color: #FAFBFC;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    margin-top: 40px;
   padding-top: 40px;
   padding-left: 60px;
   margin: auto;
}
.footer_inner{
    width: 1250px;
    margin: auto;
    background-color: #FAFBFC;
    list-style: none;
    display: flex;

}
.footer .footer_inner .box{
    width: 23%;
   
    margin-left: 10px;
    padding: 2px 0px;
    font-weight: normal;
    font-size: 14px;
    padding-bottom: 50px;
}
.footer .footer_inner .box .box1 h5{
    margin: 15px 0px;
}
.social{
   margin-left: 5px;
    margin-top: 10px;
}
.original{
    display: flex;
    align-items: center;
}
.original h4{
    width: 89%;

}
.grid{
    width: 1295px;
    display: grid;
    margin: auto;
    border: 1px solid blue;
    height: 500px;
    grid-template-columns:  20% 80%; 
    justify-content:space-between;




}
.grid .left{
    width: 20%;
    background-color: red;
   

}
.grid .right{
    width: 80%;
    background-color: grey;
}

/* t-shirt page start */
.startP p{
    margin: 20px;
    color: #282c3f;
}
.p1 {
    font-size: 14px;
}
.p1 span{
    font-weight: bold;
}
.p2 span{
    font-weight: bold;
}

.infoupper{
    margin-top: 40px;
    width: 1250px;
    margin: auto;
    align-items: center;
    display: grid;
    grid-template-columns: 20% 80%;
}
.leftI{
    color: #282c3f;
    font-weight: lighter;
    font-size: 14px;
    margin-left: 10px;
}
.rightI{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.leftR{
    display: flex;
    width: 35%;
    justify-content: space-between;
}
.leftR{
    color: #282c3f;
    font-weight: lighter;
    font-size: 14px;
    cursor: pointer;
}
.rightR{
    color: #282c3f;
    font-weight: lighter;
    font-size: 14px;
    cursor: pointer;
    border: 1px solid #282c3f9a;
    padding: 10px;
    margin-bottom: 5px;
    margin-right: 10px;
}
.rightR span{
    font-weight: bold;
}
.maindiv {
    width: 1250px;
    margin: auto;
    display: grid;
    grid-template-columns: 20% 80%;
}
.maindiv .left {
    border-top: 1px solid #e9e9ed;
    width: 90%;
    height: 1200px;
    padding: 10px;
}
.left h5{
    font-size: 14px;
    font-weight: bold;
    color: #282c3f;
}
.block1{
    line-height: 30px;
    color: #282c3f;
    font-size: 14px;
    border-bottom: 1px solid #e9e9ed;
    border-right: 1px solid #e9e9ed;
    
}
.block1 span{
    color: #94969f;
    font-size: 11px;
    margin-left: 4px;
}
.block2 {
    line-height: 30px;
    color: #282c3f;
    font-size: 14px;
    border-bottom: 1px solid #e9e9ed;
    border-right: 1px solid #e9e9ed;
}
.block2 span {
    color: #94969f;
    font-size: 11px;
    margin-left: 4px;
}
.block2 .r-1{
    display: flex;
    justify-content: space-between;
}
.block2 .r-1 button{
    border-radius: 50%;
    border: none;
    padding: 10px;
    margin-right: 10px;
    cursor: pointer;
}
.block3{
    line-height: 30px;
    color: #282c3f;
    font-size: 14px;
    border-bottom: 1px solid #e9e9ed;
    border-right: 1px solid #e9e9ed;
}
.block3 span{
    color: #94969f;
    font-size: 11px;
    margin-left: 4px;
}
.block4{
    line-height: 30px;
    color: #282c3f;
    font-size: 14px;
    border-bottom: 1px solid #e9e9ed;
    border-right: 1px solid #e9e9ed;
}
.block4 div{
    display: inline-block;
}
.black{
    height: 15px;
    width: 15px;
    background-color: black;
    border-radius: 50%;
}
.blue{
    height: 15px;
    width: 15px;
    background-color: blue;
    border-radius: 50%;
}
.white{
    height: 15px;
    width: 15px;
    background-color: white;
    border: 1px solid;
    border-radius: 50%;
}
.navy-blue{
    height: 15px;
    width: 15px;
    background-color: navy;
    border-radius: 50%;
}
.green{
    height: 15px;
    width: 15px;
    background-color: green;
    border-radius: 50%;
}
.grey{
    height: 15px;
    width: 15px;
    background-color: grey;
    border-radius: 50%;
}
.red{
    height: 15px;
    width: 15px;
    background-color: red;
    border-radius: 50%;
}

.block5{
    line-height: 30px;
    color: #282c3f;
    font-size: 14px;
    border-bottom: 1px solid #e9e9ed;
    border-right: 1px solid #e9e9ed;
}
.right {
    border-top: 1px solid #e9e9ed;
    border-bottom: 1px solid #e9e9ed;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    justify-content: space-between;
}
.right .card{
    width: 100%;
    margin-top: 30px;
    transition: transform 0.2s ease-in-out;
}
.card img:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
.right .card h4{
    font-weight: 700;
    color: #282c3f;
    margin: 10px 5px;
}
.first1{
    font-weight: lighter;
    font-size: 12px;
    color: #282c3f;
    margin: 10px 5px;
}
.second {
    font-size: 14px;
    color: #282c3f;
    font-weight: bolder;
    margin: 10px 5px;
}
.third{
    color: #ff5722;
    font-size: 14px;
    font-weight: 700;
    margin: 10px 5px;

}


/* t-shirt page end */